.app--user--list
	each follower in followers
		li
			.circle--fluid
				.circle--fluid--cell.circle--fluid--primary
					a.app--tweet--author
						.app--avatar(style="background-image: url(static/images/f-spore.png)")
							img(src="static/images/f-spore.png")
						h4=follower.name
						p="@"+follower.screen_name
				.circle--fluid--cell
					if follower.following
						a.button.button-text="Unfollow"
					else
						a.button="Follow"
	//- li
	//- 	.circle--fluid
	//- 		.circle--fluid--cell.circle--fluid--primary
	//- 			a.app--tweet--author
	//- 				.app--avatar(style="background-image: url(static/images/f-spore.png)")
	//- 					img(src="static/images/f-spore.png")
	//- 				h4="Jill Spore"
	//- 				p="@jillspore"
	//- 		.circle--fluid--cell
	//- 			a.button.button-text="Unfollow"
	//- li
	//- 	.circle--fluid
	//- 		.circle--fluid--cell.circle--fluid--primary
	//- 			a.app--tweet--author
	//- 				.app--avatar(style="background-image: url(static/images/f-spore.png)")
	//- 					img(src="static/images/f-spore.png")
	//- 				h4="Jill Spore"
	//- 				p="@jillspore"
	//- 		.circle--fluid--cell
	//- 			a.button.button-text="Unfollow"
	//- li
	//- 	.circle--fluid
	//- 		.circle--fluid--cell.circle--fluid--primary
	//- 			a.app--tweet--author
	//- 				.app--avatar(style="background-image: url(static/images/f-spore.png)")
	//- 					img(src="static/images/f-spore.png")
	//- 				h4="Jill Spore"
	//- 				p="@jillspore"
	//- 		.circle--fluid--cell
	//- 			a.button="Follow"
	//- li
	//- 	.circle--fluid
	//- 		.circle--fluid--cell.circle--fluid--primary
	//- 			a.app--tweet--author
	//- 				.app--avatar(style="background-image: url(static/images/f-spore.png)")
	//- 					img(src="static/images/f-spore.png")
	//- 				h4="Jill Spore"
	//- 				p="@jillspore"
	//- 		.circle--fluid--cell
	//- 			a.button.button-text="Unfollow"
